.container {
  background-color: #fff;
  padding: 10px;
}

.row {
  width: 100%;
  margin: 1rem auto 3rem;
}

.row i {
  width: 33%;
  height: 1px;
  display: inline-block;
  background-color: #ebf0fa;
  vertical-align: middle;
}

.row span {
  width: 33%;
  height: 0.3rem;
  color: #333;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}

/*瀑布流层*/

.waterfall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.waterfall a {
  text-decoration: none;
}


/*一个内容层*/

.item {
  padding: 0;
  margin: 0.1rem;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #fff;
  border-radius: 2px;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14); */
  webkit-transition: background-color .3s opacity .3s, -webkit-transform .3s;
  transition: background-color .3s, opacity .3s, transform .3s;
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  transition: all .25s ease 0s;
  opacity: 0;
  position: relative;
  /* height: 15rem; */
  width: 31%;
  text-align: center;
  overflow: hidden;
}

.item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.item img {
  width: auto;
  height: auto;
  z-index: 8;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  transition: all 5s ease 0s;
}

.item.active:hover {
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0)
}

.item .item-content {
  padding: 0.7rem;
  font-size: 13px;
  color: #333;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.item .item-time {
  padding: 0.5rem 0.7rem;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.45);
  -webkit-transform: translate3d(0, 4rem, 0);
  transform: translate3d(0, 4rem, 0);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  z-index: 10;
  transition: all .25s ease 0s;
  visibility: hidden;
}

.item.active:hover .item-time {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
.item.active:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.item-time img,
.item-time canvas {
  width: 6rem;
  height: 6rem;
  margin: 2rem auto;
  z-index: 12;
  background-color: #fff;
  padding: 0.3rem;
}

.waterfall.list {
  -moz-column-count: unset;
  /* Firefox */
  -webkit-column-count: unset;
  /* Safari 和 Chrome */
  column-count: unset;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-gap: 0;
}

.waterfall.list .item {
  position: relative;
}

.waterfall.list .item img {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.waterfall.list .item .item-content {
  width: 80%;
  display: inline-block;
}

.waterfall.list .item .item-time {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

.waterfall.list .swiper-container {
  display: inline-block;
  width: 20%;
  margin: 0;
  vertical-align: top;
  height: 110px;
}

.waterfall.list .swiper-container img {
  height: 100%;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  top: 35%;
  margin-top: 0;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.73);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  text-align: center;
  height: 34px;
  font-weight: bold;
  line-height: 34px;
  color: #555;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  color: #333;
}

.swiper-container {
  width: 100%;
  max-height: 200px;
}


.swh-group {
  text-align: right;
  margin-bottom: 10px;
}

.swh-btn {
  background-color: #fff;
  margin: 0;
  padding: .3rem;
  width: 2rem;
  display: inline-block;
  color: #333;
  text-align: center;
  line-height: 1.3;
  border: 0;
  outline: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.19);
  border-radius: 0;
}

.swh-btn:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-right: -0.3rem;
}

.swh-btn:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.swh-btn:hover,
.swh-btn:focus {
  text-shadow: none;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
  background-color: rgb(127, 161, 179);
  color: #fff;
}

.swh-btn.active {
  text-shadow: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  background-color: #607D8B;
  color: #fff;
}

.tip {
  text-align: center;
  color: #90A4AE;
  display: none;
}


@media screen and (max-width:800px) {
  .container {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .waterfall .item {
    width: 31%
  }

  .waterfall.list .item img {

    margin-top: .6rem;
  }

  .waterfall.list .item .item-content {
    padding-bottom: 1.5rem;
  }

  .waterfall.list .item .item-time {
    padding: 0 0.7rem 0.4rem 0;
  }
}